<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Properties>
        <Property name="log4j2.enableThreadlocals">true</Property>
        <Property name="log4j2.enableDirectEncoders">true</Property>
        <Property name="log4j2.asyncLoggerRingBufferSize">2097152</Property>
        <Property name="log4j2.asyncLoggerWaitStrategy">Yield</Property>
    </Properties>
    <Appenders>
        <RandomAccessFile name="RandomAccessFile" fileName="${sys:logFilename}" immediateFlush="false"
            append="true" bufferSize="262144">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
    </Appenders>
    <Loggers>
        <AsyncRoot level="info" includeLocation="false">
            <AppenderRef ref="RandomAccessFile" />
        </AsyncRoot>
    </Loggers>
</Configuration>