<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" shutdownHook="disable">
    <Properties>
        <Property name="log4j2.enableThreadlocals">true</Property>
        <Property name="log4j2.enableDirectEncoders">true</Property>
        <Property name="log4j2.asyncLoggerRingBufferSize">4194304</Property>
        <Property name="log4j2.asyncLoggerWaitStrategy">Yield</Property>
        <Property name="log4j2.contextSelector">org.apache.logging.log4j.core.async.AsyncLoggerContextSelector</Property>
        <Property name="log4j2.asyncLoggerTimeout">1000</Property>
        <Property name="log4j2.garbagefreeThreadContextMap">true</Property>
        <Property name="log4j2.formatMsgNoLookups">true</Property>
    </Properties>
    <Appenders>
        <RandomAccessFile name="RandomAccessFile" 
                         fileName="${sys:logFilename}" 
                         immediateFlush="false"
                         append="true" 
                         bufferSize="1048576">
            <PatternLayout disableAnsi="true">
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
    </Appenders>

    <Loggers>
        <AsyncRoot level="info" includeLocation="false">
            <AppenderRef ref="RandomAccessFile"/>
        </AsyncRoot>
    </Loggers>
</Configuration>