<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="INFO">
    <Appenders>
        <RandomAccessFile name="RandomAccessFile" fileName="${sys:logFilename}" immediateFlush="false"
            append="true">
            <PatternLayout>
                <Pattern>%m%n</Pattern>
            </PatternLayout>
        </RandomAccessFile>
    </Appenders>
    <Loggers>
        <Root level="info" includeLocation="false">
            <AppenderRef ref="RandomAccessFile" />
        </Root>
    </Loggers>
</Configuration>